<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Motherwise Network{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.1/css/all.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/jpg">

    <link href="/static/images/icons/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/static/images/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="/static/images/icons/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167" />
    <link href="/static/images/icons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/static/images/icons/icon-hires.png" rel="icon" sizes="192x192" />
    <link href="/static/images/icons/icon-normal.png" rel="icon" sizes="128x128" />

<style>

input:focus, button:focus {
    outline:none;
}

.dropdown-menu{
    background-color: #fff;
    padding:20px;
    width:220px;
}

#m1{
    background-color: #fff;
    padding:15px;
    width:220px;
}

#m2{
    background-color: #fff;
    padding:15px;
    width:300px;
}

#m3{
    background-color: #fff;
    padding:15px;
    width:300px;
}

#m4{
    background-color: #eee;
    padding:1px 1px 0px 1px;
    width:300px;
    border-radius:3px;
}

.menu{
    color: black;
}

.menu:hover{
    background-color:#eee;
    color:red;
}

.menu a{
    color:black;
}

h4{
    color:white;
}

h4:hover{
    color:white;
    text-decoration:underline;
}

#chat_log {
    width: 100%;
    height: auto;
    max-height:300px;
    float: middle;
    color:black;
    overflow-y:auto;
}

div#list {
    width: 100%;
    height: auto;
}

div#list > div {
    background:white;
    background-size:cover;
    padding:5px 10px 5px 10px;
    margin-top: 1px;
}

div#list > div > div {
    width: auto;
    height: auto;
    color: black;
    word-wrap: break-word;
}

#chat_log::-webkit-scrollbar-track
{
	border: 1px solid gray;
	background-color: #eee;
	border-radius:30px;
}

#chat_log::-webkit-scrollbar
{
	width: 6px;
	background-color: #eee;
}

#chat_log::-webkit-scrollbar-thumb
{
	background-color: gray;
	border-radius:30px;
}

.cropping{
    object-fit:cover;
}

.goog-te-banner-frame.skiptranslate {display:none !important;}
.goog-logo-link {display:none !important; }
.goog-te-gadget {font-size:0px !important;}

</style>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>-->

</head>

<body>

<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background:transparent; border:0;">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation"
                onclick="javascript:changeNavbarBackgroundColor();">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" style="border:0; max-height:500px; overflow:auto;">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;">
                        <h4><span class="fas fa-user-friends" aria-hidden="true"></span></h4>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="m1">
                        <li class="menu" style="margin-top:0px;"><h5><a href="/manager/active_members/"><span class="fa fa-user-circle" style="font-size:16px; margin-right:15px;"></span>Active members</a></h5></li>
                        <li class="menu" style="margin-top:20px;"><h5><a href="/manager/inactive_members/"><span class="fa fa-user-o" style="font-size:16px; margin-right:15px;"></span>Inactive members</a></h5></li>
                        <li class="menu" style="margin-top:20px;">
                            <h5><a href="javascript:void(0)" onclick="javascript:openCohortBox(); hideMenuBar();">
                                <span class="fa fa-sitemap" style="font-size:16px; margin-right:15px;"></span>Search by Group</a>
                            </h5>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;">
                        <h4><span class="fa fa-search" aria-hidden="true"></span></h4>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="m2">
                        <li>
                            <form role="search" method="POST" action="/manager/search_members/">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="form-control" name="q" value="" placeholder="Type a keyword..." required>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-search" style="color:white; font-size:18px; padding:1.5px;"></i></button>
                                    </span>
                                </div>
                            </form>
                        </li>
                        <li class="menu" style="margin-top:20px;">
                            <h5><a href="javascript:void(0)" onclick="javascript:openCohortBox(); hideMenuBar();">
                                <span class="fa fa-sitemap" style="font-size:16px; margin-right:15px;"></span>Search by Group</a>
                            </h5>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/manager/openbroadcast" style="background-color:transparent;" target="_blank">
                        <h4><span class="fas fa-broadcast-tower" aria-hidden="true"></span></h4>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0)" onclick="javascript:openMessageBox(); hideMenuBar();" title="Add New Member">
                        <h4 style=""><span class="fas fa-user-plus" aria-hidden="true"></span></h4>
                    </a>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;">
                        <h4><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span></h4>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="menu">
                        <div style="font-size:14px; color:black; font-weight:600; margin-bottom:10px;">Add from document</div>
                        <div style="background-color:gray; width:100%; height:1px;"></div>
                        <li class="menu" style="margin-top:20px;"><h5><a href="/manager/export_xlsx_member"><span class="glyphicon glyphicon-arrow-down" style="margin-right:10px;"></span>1. Get xlsx template</a></h5></li>
                        <li class="menu" style="margin-top:20px; margin-bottom:20px;"><h5><a href="/manager/import_view/member"><span class="glyphicon glyphicon-open-file" style="margin-right:10px;"></span>2. Load xlsx document</a></h5></li>
                        <div style="background-color:gray; width:100%; height:1px;"></div>
                        <li class="menu" style="margin-top:20px;"><h5><a href="javascript:void(0)" onclick="javascript:openMessageBox();">
                            <span class="fa fa-user-plus" style="margin-right:10px;"></span>Add individually</a></h5></li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;" title="Notifications">
                        <div id="noticon" style="display:block;"><h4><span class="fa fa-bell-o" aria-hidden="true" style="margin-right:10px;" id="badge"></span></h4></div>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="m4">
                        <li>
                            <div id="chat_log">
                                <div id="list">
                                    <button style="background-color:gray; width:100%; padding:8px; color:white; border:0; margin-bottom:2px;"
                                        onclick="if(document.getElementById('list2').innerHTML == ''){alert('No history browsing'); return;}
                                            document.getElementById('notiLayout').style.display='block'; hideMenuBar();">Click here to browse history...</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)" onclick="javascript:openCohortBox(); hideMenuBar();">
                        <h4 style=""><span class="fa fa-sitemap" style="margin-right:10px;"></span>Groups</h4>
                    </a>
                </li>

                <li style="margin-right:10px;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;">
                        <h4><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></h4>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="m1">
                        <li class="menu" style="margin-top:0px;"><h5><a href="/motherwise/cohort_names/"><span class="fa fa-list-alt" style="font-size:16px; margin-right:15px;"></span>Group Names</a></h5></li>
                    </ul>
                </li>

                <li style="margin-right:10px;display:none;">
                    <a href="/manager/groups">
                        <h4><span class="fa fa-group" aria-hidden="true" style="margin-right:10px;"></span>Communities</h4>
                    </a>
                </li>

                <li style="margin-right:10px;">
                    <a href="/manager/to_conferences">
                        <h4><span class="glyphicon glyphicon-facetime-video" aria-hidden="true" style="margin-right:10px;"></span>Videos</h4>
                    </a>
                </li>

                <li>
                    <a href="/manager/posts">
                        <h4><span class="fa fa-flag" aria-hidden="true" style="margin-right:10px;"></span>Posts</h4>
                    </a>
                </li>

                <li style="margin-right:10px;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;">
                        <h4><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></h4>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="m1">
                        <li class="menu" style="margin-top:0px;"><h5><a href="/motherwise/post_categories/"><span class="fa fa-list-alt" style="font-size:16px; margin-right:15px;"></span>Post Categories</a></h5></li>
                    </ul>
                </li>

                <li>
                    <a href="/motherwise/comidaposts">
                        <h4><span class="fas fa-hamburger" aria-hidden="true" style="margin-right:10px;"></span>Comida</h4>
                    </a>
                </li>

                <li style="margin-right:10px;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;">
                        <h4><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></h4>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="m1">
                        <li class="menu" style="margin-top:0px;"><h5><a href="/motherwise/recipes/"><span class="fas fa-pizza-slice" style="font-size:16px; margin-right:15px;"></span>Recipes</a></h5></li>
                        <li class="menu" style="margin-top:20px;"><h5><a href="/motherwise/food_resource/"><span class="fas fa-pepper-hot" style="font-size:16px; margin-right:15px;"></span>Food Resources</a></h5></li>
                    </ul>
                </li>

                <li style="margin-right:10px;">
                    <a href="/manager/notifications" title="Messages">
                        <h4 id="msg-caption"><span class="far fa-comment-alt" aria-hidden="true"></span></h4>
                    </a>
                </li>

            </ul>

            <form class="navbar-form navbar-left" role="search" method="POST" action="#" style="display:none;">
                {% csrf_token %}
                <h4><div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" value="" placeholder="Type a keyword...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">Search</button>
                        </span>
                    </div>
                </div></h4>
            </form>

            <ul class="nav navbar-nav navbar-right">

                <li class="" style="margin-right:30px; display:none;" id="export">
                    <a href="/export_xlsx">
                        <h4 style=""><span class="fa fa-file-excel-o" aria-hidden="true" style="margin-right:10px;"></span>Export</h4>
                    </a>
                </li>

                <li style="margin-right:10px;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;">
                        <h4 style=""><span class="fa fa-user-circle" aria-hidden="true" style="margin-right:10px;"></span>Account</h4>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="menu">
                            <div style="font-size:14px;">
                                <a href="/manager/analytics/">
                                    <span class="fas fa-analytics" style="margin-right:10px;"></span>Analytics
                                </a>
                            </div>
                        </li>
                        <li class="menu" style="margin-top:15px;">
                            <div style="font-size:14px;">
                                <a href="/manager/account/">
                                    <span class="glyphicon glyphicon-lock" style="margin-right:10px;"></span>Change Password
                                </a>
                            </div>
                        </li>
                        <li class="menu" style="margin-top:15px;">
                            <div style="font-size:14px;">
                                <a href="/manager/logout">
                                    <span class="glyphicon glyphicon-off" style="margin-right:10px;"></span>Sign Out
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>

<script>

    function openMessageBox(){
        document.getElementById('backgroundOverlay').style.display='block';
        document.getElementById('messageBox').style.display='block';
    }

    function openCohortBox(){
        document.getElementById('backgroundOverlay').style.display='block';
        document.getElementById('cohortBox').style.display='block';
    }

    var openF = false;

    function changeNavbarBackgroundColor(){
        console.log("Clicked on nav button");
        var navbar = document.getElementById('navbar');
        if(!openF) {
            navbar.style.backgroundColor = "black";
            openF = true;
        }else{
            navbar.style.backgroundColor = "transparent";
            openF = false;
        }
    }

</script>


<script>
    // $(document).click(function(){
    //     hideMenuBar();
    // });

    function hideMenuBar(){
        // $(".dropdown-menu").hide();
        try {
          $('.navbar-collapse').collapse('toggle');
        }
        catch(err) {
          console.log(err);
        }
    }

</script>

<script>

    function showSuccessAlert(msg) {
        swal({
            title: "Success!",
            text: msg,
            icon: "success",
            button: "OK",
        });
    }

    function showSuccessInvitationAlert(msg) {
        swal({
            title: "Success!",
            text: msg,
            icon: "success",
            button: "OK",
        })
        .then((ok) => {
            if (ok) {
                location.reload();
            }
        });
    }

    function showFailureAlert(msg) {
        swal({
            title: "Oops! We ran into an issue.",
            text: msg,
            icon: "warning",
            button: "OK",
            dangerMode: true,
        });
    }

    function showConfirmMemberDeletionAlert(msg,memberid){
        swal({
            title: "Warning!",
            text: msg,
            icon: "warning",
            buttons: ["Cancel","Yes"],
            dangerMode: true,
        })
        .then((ok) => {
            if (ok) {
                window.location.href = "/manager/delete_member?member_id=" + memberid;
            }
        });
    }


</script>

<script>
    $( document ).ready(function() {
        $('#google_translate_element').bind('DOMSubtreeModified', function() {
            var val = $(this);
            var strlang = "" + val[0].innerText + "";
            var toolBar = document.getElementsByClassName('goog-te-banner-frame skiptranslate')[0];
            if(toolBar !== undefined) {
                toolBar.style.display  = 'none';
                document.body.style.top = '0px';
            }
        });
    });
</script>


{% block body %}
{% endblock %}


</body>
</html>
















