<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Motherwise Network{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.1/css/all.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/icon.png" type="image/jpg">

    <link href="/static/images/icons/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/static/images/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="/static/images/icons/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167" />
    <link href="/static/images/icons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/static/images/icons/icon-hires.png" rel="icon" sizes="192x192" />
    <link href="/static/images/icons/icon-normal.png" rel="icon" sizes="128x128" />

<style>

input:focus, button:focus {
    outline:none;
}

.dropdown-menu{
    background-color: #fff;
    padding:10px;
    width:220px;
}

#m,#authm{
    background-color: #fff;
    padding:15px;
    width:300px;
}

.menu{
    color: black;
}

.menu:hover{
    background-color:#eee;
    color:red;
}

.menu a{
    color:black;
}

h4{
    color:white;
}

h4:hover{
    color:white;
    text-decoration:underline;
}

.trans {display:inline-block; height:0px; width:auto; position:fixed; z-index:100; bottom:50px; border-radius:30px; left:1%;}
.goog-te-banner-frame.skiptranslate {display:none !important;}
.goog-logo-link {display:none !important; }
.goog-te-gadget {font-size:0px !important;}

</style>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>-->
</head>

<body>

<nav id="navbar" class="navbar navbar-inverse" style="background:rgba(0,0,0,0.7);">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar" aria-expanded="false" aria-label="Toggle navigation" onclick="javascript:changeNavbarBackgroundColor();">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="topNavBar" style="border:0;">
            <ul class="nav navbar-nav">
                <li style="margin-right:30px;">
                    <a href="/manager/home">
                        <h4 style=""><span class="fa fa-home" aria-hidden="true" style="margin-right:10px;"></span>Home</h4>
                    </a>
                </li>

                {% if search %}
                    <li style="margin-right:30px;">
                        <a href="/manager/notifications">
                            <h4 style=""><span class="far fa-comment-alt" aria-hidden="true" style="margin-right:10px;"></span>All Messages</h4>
                        </a>
                    </li>
                {% endif %}

                {% if opt == 'received' %}
                    <li style="margin-right:30px;">
                        <a href="/manager/sentnotis">
                            <h4 style=""><span class="fa fa-comment-alt" aria-hidden="true" style="margin-right:10px;"></span>Sent Messages</h4>
                        </a>
                    </li>
                {% elif opt == 'sent' %}
                    <li style="margin-right:30px;">
                        <a href="/manager/notifications">
                            <h4 style=""><span class="fa fa-comment-alt" aria-hidden="true" style="margin-right:10px;"></span>Received Messages</h4>
                        </a>
                    </li>
                {% endif %}

                <li style="margin-right:30px;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;">
                        <h4><span class="fa fa-file" aria-hidden="true" style="margin-right:10px;"></span>Reports</h4>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="authm">

                        <div style="font-size:18px; font-weight:600; color:black !important; text-align:center; width:100%;">Verification</div>

                        <div style="font-size:12px; color:gray; margin:10px;">This site is trying to show all reports from network users.<br>
                            Please type this account password to allow it.</div>

                        <div style="width:100%; display:inline-block;">
                            <div>
                                <center>
                                    <form action="/verifypwreport" method="post" enctype="multipart/form-data" style="width:90%;" id="authForm">
                                        {% csrf_token %}
                            			<div class="form-group" style="margin-top:5px;">
                                            <input style="border:2px solid gray; border-radius:3px;"
                                                type="password" name="password" id="password" data-rule="required" data-msg="" required value="" placeholder="Password">
                                            <div id="validation" style="color:red; font-size:14px; visibility:hidden;">The password is incorrect.</div>
                            			</div>
                            			<center><img src="/static/images/progressbar.gif" style="width:20px; height:20px; display: none;" id="gif"></center>
                                        <div class="form-group" style="margin-top:10px;">
                                			<center>
                                                <button type="button" class="bouton-update" style="width:60%;"
                                                    onclick="javascript:authFormSubmit(document.getElementById('authForm'), document.getElementById('gif'));">Submit</button>
                                            </center>
                                        </div>
                                    </form>
                                </center>
                            </div>
                        </div>

                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li style="margin-right:30px;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="background-color:transparent;">
                        <h4><span class="fa fa-search" aria-hidden="true" style="margin-right:10px;"></span>Search</h4>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="m">

                        <div style="font-size:14px; color:gray; font-weight:500; margin-top:10px;">Search by keyword</div>

                        <li>
                            <form role="search" method="POST" action="/manager/noti_search/">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="form-control" name="q" value="" placeholder="Type a keyword..." required>
                                    <input hidden name="opt" value="{{opt}}"/>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-search" style="color:white; font-size:18px; padding:1.5px;"></i></button>
                                    </span>
                                </div>
                            </form>
                        </li>

                        <div style="font-size:14px; color:gray; font-weight:500; margin-top:10px;">Search by date</div>

                        <link rel="stylesheet" href="/static/css/jquery.datetimepicker.min.css">
                        <script src="/static/js/jquery.datetimepicker.full.js"></script>

                        <li>

                            <form role="search" method="POST" action="/manager/noti_search/">
                                {% csrf_token %}
                                <div class="input-group" id="datetimebox" onchange="updatedatetime();">
                                    <input type="text" class="form-control" value="" placeholder="Enter a date..." required id="fromdateBox" autocomplete="off">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-search" style="color:white; font-size:18px; padding:1.5px;"></i></button>
                                    </span>
                                </div>
                                <input type="hidden" name="q" id="fromdate">
                                <input hidden name="opt" value="{{opt}}"/>
                                <br>
                                <script>
                                     jQuery('#datetimebox').datetimepicker({
                                        timepicker: false,
		                                datepicker: true,
                                     });
                                     function updatedatetime(){
                                          var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                                          var datetime = document.getElementById("datetimebox").value;
                                          var year = datetime.substring(0, 4);
                                          var month = datetime.substring(5, 7);
                                          var day = datetime.substring(8, 10);
                                          var hour = datetime.substring(11, 13);
                                          var minute = datetime.substring(14, 16);
                                          var ap = '';
                                          if (parseInt(hour) > 12) {
                                               hour = String(parseInt(hour) - 12);
                                               ap = 'PM';
                                          }else ap = 'AM';
                                          var monthindex = parseInt(month);
                                          month = months[monthindex - 1];
                                          document.getElementById("fromdateBox").value = month + ' ' + day + ', ' + year;
                                          document.getElementById("fromdate").value = new Date(datetime).getTime();
                                     }
                                </script>
                            </form>
                        </li>

                        <li class="menu">
                            <h5><a href="/manager/fffff?noption=last3&opt={{opt}}">
                                <span class="fa fa-calendar" style="font-size:14px; margin-right:15px;"></span>Last 3 Days</a>
                            </h5>
                        </li>
                        <li class="menu">
                            <h5><a href="/manager/fffff?noption=last7&opt={{opt}}">
                                <span class="fa fa-calendar" style="font-size:14px; margin-right:15px;"></span>Last 7 Days</a>
                            </h5>
                        </li>
                        <li class="menu">
                            <h5><a href="/manager/fffff?noption=last30&opt={{opt}}">
                                <span class="fa fa-calendar" style="font-size:14px; margin-right:15px;"></span>Last 30 Days</a>
                            </h5>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </div>
</nav>


<script>

    var openF = false;

    function changeNavbarBackgroundColor(){
        console.log("Clicked on nav button");
        var navbar = document.getElementById('navbar');
        if(!openF) {
            navbar.style.backgroundColor = "rgba(0,0,0,0.7)";
            openF = true;
        }else{
            // navbar.style.backgroundColor = "transparent";
            openF = false;
        }
    }

    function showPostCreateForm(){
        document.getElementById('postcreateform').style.display='inline-block';
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    $("#authm").click(function(e){
       e.stopPropagation();
    })

</script>

<script>
    $(document).click(function(){
        // hideMenuBar();
    });

    function hideMenuBar(){
        // $(".dropdown-menu").hide();
        $('.navbar-collapse').collapse('hide');
    }

</script>


<div class="trans">
    <div id="google_translate_element" style="float:left;"></div>
</div>
<script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
$( document ).ready(function() {
    $('#google_translate_element').bind('DOMSubtreeModified', function() {
        var val = $(this);
        var strlang = "" + val[0].innerText + "";
        var toolBar = document.getElementsByClassName('goog-te-banner-frame skiptranslate')[0];
        if(toolBar !== undefined) {
            toolBar.style.display  = 'none';
            document.body.style.top = '0px';
        }
    });
});
</script>


{% block body %}
{% endblock %}


</body>
</html>




























































