{% extends 'motherwise/base_conference.html' %}
{% block title %}Conferences{% endblock %}
{% block body %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../lib/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="/static/js/radialprogress.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
      WebFont.load({
      google: {
          families: ["Lato:100,300,400,700,900","Karla:regular","Cookie:regular"]
        }
    });
</script>

<style>

@font-face {
   font-family: lemon;
   src: url('/static/fonts/lemon.ttf');
}
html, body {
    background:linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/static/images/avb.png') no-repeat center center fixed;
    background-size:cover;
}
img {height: 80px;width: 80px;}
.topBtn {display: none;position: fixed;bottom: 20%;z-index: 99;border: none;outline: none;background-color: rgba(0,0,0,0.3);color: white;cursor: pointer;padding: 15px;border-radius: 50%;}
.topBtn:hover {background-color: orange;}
form h1 {font-size: 25px;background: #327a81 none repeat scroll 0% 0%;color: rgb(255, 255, 255);padding: 19px 22px;border-radius: 5px 5px 0px 0px;margin: auto;text-shadow: none;text-align:left}
.conf-form { max-width:100%;width:auto;margin:auto;border-radius:5px;margin-bottom:5px;background-color:rgba(0,0,0,0.1);padding:20px;background-size:cover;overflow:hidden; }
.conf-form:hover { background:rgba(0,0,0,0.3); }
#conf-form { max-width:600px;height:auto;padding-bottom:15%;overflow:auto; }
p span {color: #F00;}
p {margin: 0px;font-weight: 200;line-height: 2;color:#fff;}
h1 {text-align:center;color: #666;text-shadow: 1px 1px 0px #FFF;margin:50px 0px 0px 0px}
input {border-radius: 50px;border: 1px solid #eee;margin-bottom: 15px;margin-right:auto;width: 100%;height: 42px;opacity:0.95;float: middle;padding: 0px 15px;color:black;text-align:left;}
a {text-decoration:inherit}
.form-group {overflow: hidden;width:100%;}
.bouton-update{background-color: #0077b3;color: #FFF;text-align: center;width: 100%;border:0;padding: 12px 18px;border-radius: 50px;cursor: pointer;font-size: 16px;}
select {background:transparent;border: 1.5px solid rgba(255,255,255,0.5);border-radius:3px;margin-bottom: 15px;margin-right:auto;width: 100%;height: 42px;opacity:0.95;float: middle;
padding: 0px 15px;color:white;text-align-last:center;}
option{color:black;}
::-webkit-scrollbar {width: 0px; background: transparent;}
::-webkit-scrollbar-thumb {background: #FF0000;}
.cropping{object-fit:cover;}
.container1 {display: block;position:relative;padding-left:25px;margin-bottom:12px;cursor:pointer;font-size:18px;color:white;text-shadow: 2px 2px 4px gray;-webkit-user-select: none;
-moz-user-select: none;-ms-user-select: none;user-select: none;}
.container1 input {position: absolute;opacity: 0;cursor: pointer;}
.checkmark {position: absolute;top: 0;left: 0;height: 20px;width: 20px;background-color: white;border-radius: 50%;}
.container1:hover input ~ .checkmark {background-color: red;}
.container1 input:checked ~ .checkmark {background-color: orange;}
.checkmark:after {content: "";position: absolute;display: none;}
.container1 input:checked ~ .checkmark:after {display: block;}
.container1 .checkmark:after {top: 6px;left: 6px;width: 8px;height: 8px;border-radius: 50%;background: white;}
::-webkit-scrollbar {width: 0px;background: transparent;  /* optional: just make scrollbar invisible */}
::-webkit-scrollbar-thumb {background: #FF0000;}
label.fileBtn {display: inline-block;padding: 0.5em;border: 0;border-radius:8px;font-size:16px;color:white;width:auto;text-align:center;text-decoration: underline;}
label.fileBtn:active {border-color: #CCC #EEE #EEE #CCC;}
label.fileBtn input[accept*="video"] {display: none;}
iframe{background-image: url("/static/images/video/youtube-backg.png");background-size:cover;}
video{background-image: url("/static/images/video/videobackg.jpg");background-size:cover;}
.formcontent {width:100%;float:middle;margin:auto;box-sizing: border-box;padding: 10px;}
.contentform {float:middle;margin:auto;}
#youtubeurl::placeholder {color: white;opacity: 1;}
#youtubeurl:-ms-input-placeholder { /* Internet Explorer 10-11 */color: white;}
#youtubeurl::-ms-input-placeholder { /* Microsoft Edge */color: white;}
#youtubeurl{background-color:transparent;color:white;}
#backgroundOverlay{background-color:rgba(0,0,0,0.6);position:fixed;top:0;left:0;right:0;bottom:0;display:none;}
.container2 {display:block;position:relative;padding-left:25px;margin-bottom:12px;cursor: pointer;font-size:18px;color:white;text-shadow:2px 2px 4px gray;-webkit-user-select:none;
-moz-user-select: none;-ms-user-select: none;user-select: none;}
.container2 input {position: absolute;opacity: 0;cursor: pointer;}
.checkmark2 {position: absolute;top: 0;left: 0;height: 20px;width: 20px;background-color: white;border-radius: 50%;}
.container2:hover input ~ .checkmark2 {background-color: red;}
.container2 input:checked ~ .checkmark2 {background-color: orange;}
.checkmark2:after {content: "";position: absolute;display: none;}
.container2 input:checked ~ .checkmark2:after {display: block;}
.container2 .checkmark2:after {top: 6px;left: 6px;width: 8px;height: 8px;border-radius: 50%;background: white;}
.main { width:100%;height:auto;padding-top:50px; }
#title {font-size:30px;font-weight:800;color:#F7D479;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.7);text-align:center;position:fixed;left:50%;float:middle;transform:translate(-50%, -50%);
    width:100%;z-index:100;top:50px;display:none;}
#title0 { font-size:70px;font-weight:800;margin-bottom:30px;color:#F7D479;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.7);text-align:center;width:100%;font-family:lemon; }
#name, #fromdateBox {border-radius:3px;}
#bar {margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index:99999;}
fieldset { border-radius:5px;border:1.5px solid white;max-width:600px;padding:15px 15px 0px 15px; }
fieldset legend { border:0; }
fieldset legend > div { width:auto;text-align:center;margin-bottom:0px; }
fieldset legend > div > a { text-decoration:underline;font-size:18px;font-family:verdana;font-weight:600;color:white !important; }
#arrow { color:white;font-size:16px;margin-left:10px; }

@media(max-width:576px) { #title { top:80px; }

</style>

<script>
    var sss = false;
	history.pushState(null, null, location.href);
    history.back();
    history.forward();
    window.onpopstate = function () { history.go(1); if(sss){console.log('back button pressed'); window.location.href = '/manager/home'; sss=false; setTimeout(function(){ sss=true; }, 1000);} };
    setTimeout(function(){ sss=true; }, 1000);
</script>

<div id="bar" style="display:none;"></div>

<script>
var bar=new RadialProgress(document.getElementById("bar"),{colorBg:"rgba(0,0,0,0)",colorFg:"#0066ff",thick:8,round:true,indeterminate:true,animationSpeed:0.5});
</script>


<div id="title">Network Videos</div>

<div class="main">

    <div id="title0">Network Videos</div>

    <div class="container-fluid" style="padding-top:1.5%;">

        <div class="row">
            <div class="col-sm-6" style="text-align:center; margin-bottom:50px;">

                <center>

                    <fieldset>
                        <legend>
                            <div>
                                <a href="javascript:void(0);" onclick="javascript:toggleCreateForm();">
                                    Register a new video
                                    <span class="fas fa-caret-down" id="arrow"></span>
                                </a>
                            </div>
                            <script>
                                var showF = false;
                                var ii = 0;
                                function toggleCreateForm(){
                                    ii++;
                                    if(showF == true){
                                        showF = false;
                                        document.getElementById('form').style.display='none';
                                        $('#arrow').removeClass('fas fa-caret-up').addClass('fas fa-caret-down');
                                    }else{
                                        showF = true;
                                        document.getElementById('form').style.display='block';
                                        if(ii > 1) $('#arrow').removeClass('fas fa-caret-down').addClass('fas fa-caret-up');
                                        else $('#arrow').addClass('fas fa-caret-up');
                                    }
                                }
                            </script>
                        </legend>

                        <form id="form" style="display:none;" action="/manager/create_conference" method="post" enctype="multipart/form-data">
                            <div class="contentform">
                		        <div class="formcontent">
                		            <div style="width:80%;display:inline-block;margin-bottom:20px;">
                                        <div style="float:left; width:30%; margin-left:3%;display:none;">
                                            <label class="container1">Live
                                                <input type="radio" name="type" id="live" value="live" onchange="javascript:selectType(this);">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div style="float:left; width:20%; margin-left:2%;">
                                            <label class="container1">File
                                                <input type="radio" name="type" id="file" value="file" onchange="javascript:selectType(this);">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div style="float:left; width:30%; margin-left:15%;">
                                            <label class="container1">Youtube
                                                <input type="radio" checked name="type" id="youtube" value="youtube" onchange="javascript:selectType(this);">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <script>
                                        function selectType(obj){
                                            if(obj.checked){
                                                if(obj.value == 'live'){
                                                    document.getElementById('file_frame').style.display = 'none';
                                                    document.getElementById('youtube_frame').style.display = 'none';
                                                }else if(obj.value == 'file'){
                                                    document.getElementById('file_frame').style.display = 'block';
                                                    document.getElementById('youtube_frame').style.display = 'none';
                                                }else if(obj.value == 'youtube'){
                                                    document.getElementById('file_frame').style.display = 'none';
                                                    document.getElementById('youtube_frame').style.display = 'block';
                                                }
                                            }
                                        }
                                    </script>

                                    <br>

                		            <div class="form-group" style="margin-bottom:20px;display:none;" id="file_frame">
                		                <center>
                    		                <video id="videoresult" autobuffer  controls width="250" autoplay loop style="margin-bottom:5px;">
                                                <source src="" id="videohere"/>
                                            </video>
                                			<div style="width:100%; margin-top:10px;">
                                                <label class="fileBtn">Select a video
                                                    <input type="file" name="video" value="http://lorempixel.com/100/100/people/9" id="videofile" accept="video/*"/>
                                                </label>
                                            </div>
                		                </center>
                                        <script>
                                            var videofile = null;
                                            $(document).on("change", "#videofile", function(evt) {
                                                var $source = $('#videohere');
                                                $source[0].src = URL.createObjectURL(this.files[0]);
                                                $source.parent()[0].load();
                                                videofile = this.files[0];
                                            });
                            			</script>
                                    </div>

                                    <div class="form-group" style="margin-bottom:20px; display:none;" id="youtube_frame">
                                        <center>
                                            <iframe id="youtuberesult" autobuffer  width="250" style="margin-bottom:5px;" frameborder="0" allowfullscreen>
                                            </iframe>
                                            <div class="input-group" style="width:80%; margin-top:10px;">
                                                <input type="text" class="form-control" name="youtubeurl" id="youtubeurl" value="" placeholder="Enter YouTube ID...">
                                                <span class="input-group-btn">
                                                    <button id="play" type="button" class="btn btn-success"><i class="fa fa-play" style="color:white; font-size:18px; padding:1.5px;"></i></button>
                                                </span>
                                            </div>
                                        </center>
                                        <script>
                                            selectType(document.getElementById('youtube'));
                                            document.getElementById('file_frame').style.display = 'none';
                                            document.getElementById('youtube_frame').style.display = 'block';
                            			</script>
                                    </div>

                                    <div class="form-group" style="width:80%;">
                                        <input type="text" name="name" id="name" required placeholder="Video Name">
                                	</div>

                                	<link rel="stylesheet" href="/static/css/jquery.datetimepicker.min.css">
                                    <script src="/static/js/jquery.datetimepicker.full.js"></script>

            		                <div class="form-group" style="margin-top:20px;display:none;" id="datetimebox" onchange="updatedatetime();">
                                        <input type="text" value="" placeholder="Enter conference date and time..." id="fromdateBox" autocomplete="off">
                                        <input type="hidden" name="event_time" id="fromdate">
                                            <script>
                                                 jQuery('#datetimebox').datetimepicker({
                                                    timepicker: true,
            		                                datepicker: true,
                                                 });
                                                 function updatedatetime(){
                                                      var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                                                      var datetime = document.getElementById("datetimebox").value;
                                                      var year = datetime.substring(0, 4);
                                                      var month = datetime.substring(5, 7);
                                                      var day = datetime.substring(8, 10);
                                                      var hour = datetime.substring(11, 13);
                                                      var minute = datetime.substring(14, 16);
                                                      var ap = '';
                                                      if (parseInt(hour) > 12) {
                                                           hour = String(parseInt(hour) - 12);
                                                           ap = 'PM';
                                                      }else ap = 'AM';
                                                      var monthindex = parseInt(month);
                                                      month = months[monthindex - 1];
                                                      document.getElementById("fromdateBox").value = month + ' ' + day + ', ' + year + ' ' + hour + ':' + minute + ' ' + ap;
                                                      document.getElementById("fromdate").value = new Date(datetime).getTime();
                                                 }
                                            </script>
                            		</div>

                            		<div style="width:80%;display:inline-block;margin-top:20px;text-align:center;">
                                        <div style="float:left; width:40%;">
                                            <label class="container2">Everyone
                                                <input type="radio" checked="checked" id="everyoneCheck" name="gtype" value="everyone" onchange="javascript:selectGroup(this);">
                                                <span class="checkmark2"></span>
                                            </label>
                                        </div>
                                        <div style="float:left; width:40%; margin-left:15%;">
                                            <label class="container2">Community
                                                <input type="radio" id="communityCheck" name="gtype" value="community" onchange="javascript:selectGroup(this);">
                                                <span class="checkmark2"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <script>
                                        function selectGroup(obj){
                                            if(obj.checked){
                                                if(obj.value == 'community'){
                                                    document.getElementById('groupBox').style.display = 'block';
                                                    document.getElementById('group_option').value= 'community';
                                                }else if(obj.value == 'everyone'){
                                                    document.getElementById('groupBox').style.display = 'none';
                                                    document.getElementById('group_option').value= 'everyone';
                                                }
                                            }
                                        }
                                    </script>

                                    <div id="groupBox" style="text-align:center;display:none;">
                                        <div style="display:flex; margin:0px;">
                                            <select name="group_id" id="group_id" style="flex-grow:1; font-size:16px;">
                                            </select>
                                            <script>
                                                var x = document.getElementById("group_id");
                                                {% if groups %}
                                                    {% for group in groups %}
                                                        var option = document.createElement("option");
                                                        option.text = "{{group.name}}";
                                                        option.value = "{{group.pk}}";
                                                        x.add(option);
                                                    {% endfor %}
                                                {% else %}
                                                    var option = document.createElement("option");
                                                    option.text = "--No community created--";
                                                    option.value = "";
                                                    x.add(option);
                                                {% endif %}
                                            </script>

                            			</div>

                                    </div>

                            		<input name="option" id="option" hidden>
                            		<input name="branch" value="conferences" hidden>

                            		<center>
                            		    <div class="form-group" style="margin-top:30px; width:80%;">
                            				<button type="button" class="bouton-update" onclick="javascript:if(progressBar()) {document.getElementById('option').value=''; document.getElementById('form').submit();}">JUST CREATE</button>
                            			</div>

                            			<div style="color:white; opacity:0.8;">Or you can notify this conference to them</div>

                            			<div class="form-group" style="margin-top:10px; margin-bottom:5%; width:80%;">
                            				<button type="button" class="bouton-update" onclick="javascript:if(progressBar()) {document.getElementById('option').value='message'; document.getElementById('form').submit();}">CREATE & NOTIFY</button>
                            			</div>
                            		</center>

                                </div>
                            </div>

                        </form>

                    </fieldset>

                </center>

            </div>

            <div class="col-sm-6" style="margin-bottom:30px;">

                <div style="width:auto; text-align:center; font-size:22px; font-family:verdana; font-weight:600; color:white; margin-bottom:30px; display:none;">
                    Videos
                </div>

                {% if confs %}
                    <div id="conf-form">
                        {% for conf in confs %}
                        <div class="conf-form">
                            <div class="contentform">
                                <div style="width:100%; padding-bottom:8px; display:flex;" >
                                    <div style="padding:10px; float:left; position:relative;">
                                        <a href="#">
                                            <img src="{% if conf.conf.type == 'live' %}/static/images/video/live-icon.jpg{% elif conf.conf.type == 'file' %}/static/images/video/video-icon.jpg{% elif conf.conf.type == 'youtube' %}/static/images/video/youtube-icon.jpg{% else %}{% endif %}"
                                                style="width:50px; height:50px; border-radius:50%; object-fit:cover;">
                                        </a>
                                    </div>
                                    <a href="/manager/open_conference?conf_id={{conf.conf.pk}}&group_id={{conf.group.pk}}" style="flex-grow:1;">
                                        <div style="padding-left:8px; margin-top:10px; color: white; float:left; font-size:14px; text-align:left; word-wrap: break-word;">
                                            {{conf.conf.name}}
                                            {% if conf.conf.created_time %}<div style="font-size:12px;">{{conf.conf.created_time}}</div>{% endif %}
                                            <div style="font-size:14px; font-weight:600; color:yellow;">{% if conf.group is not None %}{{conf.group.name}}{% else %}Everyone{% endif %}</div>
                                        </div>
                                    </a>
                                    <div style="float:right; margin:5px;">
                                        <a href="javascript:void(0)" style="background-color:transparent; margin-left:15px;">
                                            <span class="fa fa-close" aria-hidden="true" style="color:white;font-size:16px;padding:3px;" id="{{conf.conf.id}}" onclick="confirmVideoDeletion(this)"></span>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                        {% endfor %}

                    </div>
                {%else %}
                        <div style="width:100%; text-align:center;">
                            <br>
                            <br>
                            <h4 style="color:rgba(255,255,255,0.7); margin: 30px;">No video...</h4>
                        </div>

                {% endif %}

            </div>

        </div>

    </div>

</div>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<button onclick="topFunction()" class="topBtn" id="topBtn" style="right:15px;"><i class="glyphicon glyphicon-menu-up" style="color:white; font-size:14px;"></i></button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
 //   alert("Hello");
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("topBtn").style.display = "block";
        document.getElementById("title").style.display = "block";
    } else {
        document.getElementById("topBtn").style.display = "none";
        document.getElementById("title").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    document.getElementById("member-list").scrollTop = 0;
}

</script>

<script>

$(document).ready(function(){
   $('#play').click(function(){
       document.getElementById("youtuberesult").src = 'https://www.youtube.com/embed/' + document.getElementById("youtubeurl").value +'?autoplay=1';
    });
})


function progressBar(){
    var live = document.getElementById("live");
    var file = document.getElementById("file");
    var youtube = document.getElementById("youtube");
    var youtubeurl = document.getElementById("youtubeurl").value;
    var name = document.getElementById("name").value;
    var event_time = document.getElementById("fromdateBox").value;

    var communityCheck = document.getElementById("communityCheck");
    var everyoneCheck = document.getElementById("everyoneCheck");

    var gid = document.getElementById("group_id").value;

    if(file.checked && videofile == null){
        showFailureAlert('Please select a video file.');
        return false;
    }

    if(file.checked && videofile != null){
        const fileSize = videofile.size / 1024 / 1024; // in MiB
        if (fileSize >= 100) {
            showFailureAlert("The video file can not exceed 100MB. Please upload another file.");
            return;
        }
    }

    if(name.length == 0){
        showFailureAlert('Please enter conference name.');
        return false;
    }

    if(live.checked && event_time.length == 0){
        showFailureAlert('Please enter conference start date and time.');
        return false;
    }

    if(youtube.checked && youtubeurl.length == 0){
        showFailureAlert('Please enter YouTube video ID.');
        return false;
    }

    if(communityCheck.checked && gid.length == 0){
        showFailureAlert('Please choose a group.');
        return false;
    }

    document.getElementById("bar").style.display = "block";
    return true;

}


$(document).ready(function() {
   $(document).ready(function() {
        $('#conf-form #date').each(function(i) {
            this.innerHTML = getDate(parseInt(this.innerHTML));
        });
   });
});

function getDate(ms){
    var months = ['January', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var date = new Date(ms);
    var seconds = date.getSeconds();
    var minutes = date.getMinutes();
    var hours = date.getHours();

    var year = date.getFullYear();
    var month = date.getMonth(); // beware: January = 0; February = 1, etc.
    var day = date.getDate();

    var dayStr = day;
    if(day < 10) dayStr = '0' + day;

    var hourStr = hours;
    if(hours < 10) hourStr = '0' + hours;

    var minStr = minutes;
    if(minutes < 10) minStr = '0' + minutes;

    var dateStr = months[month] + ' ' + dayStr + ', ' + year + ' ' + hourStr + ':' + minStr;
    return dateStr;
}


function showSuccessAlert(msg) {
    swal({
        title: "Success!",
        text: msg,
        icon: "success",
        button: "OK",
    });
}

function showFailureAlert(msg) {
    swal({
        title: "Oops! We ran into an issue.",
        text: msg,
        icon: "warning",
        button: "OK",
        dangerMode: true,
    });
}

function confirmVideoDeletion(obj){
    swal({
        title: "Caution！",
        text: "Are you sure delete this video？",
        icon: "warning",
        buttons: ["Cancel","Yes"],
        dangerMode: true,
    })
    .then((ok) => {
        if (ok) {
            let confid = obj.id;
            window.location.href = "/manager/delconf?conf_id=" + confid + "&branch=conferences";
        }
    });
}



</script>


{% endblock %}




























































