{% extends 'motherwise/base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block body %}

<style>

html, body{
  background: linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("/static/images/mother2_gray.jpg") no-repeat center center fixed;
  background-size:cover;overflow:hidden;
}

form { max-width:400px;margin-top:4%;margin-bottom:2% auto;margin-left:auto;margin-right:auto; }
.logo { width:90px;left:1%;top:0px;position:fixed; }
.logotitle { width:60%;height:auto;border-radius:0;border:0;margin:20px; }
.desc { font-size:16px;color:#fff;text-align:center;padding:20px; }
.fp-ttl { font-size:16px;color:#fff;text-align:center; }
p span { color:#F00; }
p { margin:0px;font-weight:600;line-height:2;color:#fff; }
h1 { text-align:center;color:#666;text-shadow:1px 1px 0px #FFF;margin:50px 0px 0px 0px; }
input { border-radius:50px;border:1px solid #eee;margin-bottom:15px;margin-right:auto;width:100%;height:42px;opacity:0.95;float:middle;padding:0px 15px;color:black;text-align:left; }
.icon-case { width:10%;float:left;border-radius:50px 0px 0px 50px;background:green;height:42px;position:relative;text-align:center;line-height:40px;padding-top:11px; }
i { color:yellow; }
.form-group { overflow:hidden;width:100%; }
.contentform { padding:30px;float:middle;margin:auto; }
.formcontent { width:100%;float:middle;margin:auto;box-sizing:border-box;padding:0px; }
.bouton-update{ background-color:#0077b3;color:#FFF;text-align:center;width:100%;border:0;opacity:0.95;padding:12px 18px;border-radius:50px;cursor:pointer;font-size:16px; }
.footer { width:100%;text-align:center;margin-bottom:5%; }
.footer > div { font-size:18px;color:#fff; }

</style>

<script>
	history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>


<meta name="google-signin-client_id" content="805720875706-j2nq3o9golq3nv3hvfsavlcfvuajpo2j.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js?onload=onLoadGoogleCallback" async defer></script>

<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<img src="/static/images/logo.png" class="logo">

<form action="/manager/send_mail_forgotpassword" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    <div class="contentform">
		<div class="formcontent">
            <center>
                <img src="/static/images/logotitle.png" class="logotitle">
            </center>
            <div class="form-group">
				<div class="fp-ttl">Forgot Password?</div>
			</div>
            <div class="form-group">
				<div class="desc">Please enter your email. We will send a reset link to your email.</div>
			</div>
			<div class="form-group">
                <input type="email" name="email" id="email" required placeholder="E-mail">
                <div class="validation"></div>
			</div>

			<div class="form-group">
				<button type="submit" class="bouton-update">SUBMIT</button>
            </div>
            <br>
			<a href="/manager/loginpage" class="footer">
                <div>LOG IN</div>
            </a>
	    </div>
	</div>
</form>


<script>

function getCookie(name) {
    console.log('getCookie');
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                    }
            }
    }
    console.log('cookie:' + cookieValue);
    return cookieValue;
}

function post(path, params, method) {
   method = method || "post"; // Set method to post by default if not specified.

   // The rest of this code assumes you are not using a library.
   // It can be made less wordy if you use one.
   var form = document.createElement("form");
   form.setAttribute("method", method);
   form.setAttribute("action", path);

   for(var key in params) {
      if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
      }
   }

   var hiddenField1 = document.createElement("input");
   hiddenField1.setAttribute("type", "hidden");
   hiddenField1.setAttribute("name", 'csrfmiddlewaretoken');
   hiddenField1.setAttribute("value", getCookie('csrftoken'));
   form.appendChild(hiddenField1);

   document.body.appendChild(form);
   form.submit();
}

</script>


<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<!--<script>-->
<!--    $( function() {-->
<!--        $( "#form" ).draggable();-->
<!--      } );-->
<!--</script>-->

{% endblock %}














