<html lang="en">

<head>

<title>Edit Post | Motherwise Nest</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
{% load tag_library %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.1/css/all.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" href="/static/images/icon.png" type="image/jpg">

<link href="/static/images/icons/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="/static/images/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
<link href="/static/images/icons/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167" />
<link href="/static/images/icons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
<link href="/static/images/icons/icon-hires.png" rel="icon" sizes="192x192" />
<link href="/static/images/icons/icon-normal.png" rel="icon" sizes="128x128" />

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/emoji.css" rel="stylesheet">

<script src="/static/reactions/jquery-2.1.4.js"></script>
<script src="/static/reactions/jquery-ui_1.12.1_.min.js"></script>
<script src="/static/reactions/comment-reactions.js"></script>
<link rel="stylesheet" href="/static/reactions/stylesheet.css">
<link rel="stylesheet" href="/static/css/v1/mypost.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(document).ready(function() {
        jQuery.noConflict();
    	$('.COMMENT_reactions').commentReactions({
    		type: "comment"
    	});
    	window.EmojiPicker.init();
    });
</script>

</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script>
    WebFont.load({
        google: {
            families: ["Lato:100,300,400,700,900","Karla:regular","Cookie:regular"]
        }
    });
    function isValidImage(imageurl) {
       try {
            var img = document.createElement("img");
            img.src = imageurl;
        } catch(err) {
            //
        }

        if(img.height > 0) {
            return true;
        } else {
            return false;
        }
    }
</script>

<img src="/static/images/processing.gif" id="gif">
<img src="/static/images/logo.png" class="logo">
<div id="title">MY POST</div>

<div id="form">

    <div class="header">
        <i id="back" class="fa fa-chevron-left" onclick="if(window.history.length > 1) { history.back(); } else { window.close(); }"></i>
        <i id="home" class="fa fa-home" onclick="window.location.href='/mothers/zzzzz/';"></i>
    </div>

    <div id="title0">MY POST</div>
    <div>
        <div style="text-align:center; color:white;">
            <div style="width:100%;">
                <div id="post-title" style="font-size:25px;font-weight:600;">{{post.post.title}}</div>
                <div class="post-category">{{post.post.category}}</div>
            </div>
            <div style="font-size:12px;">{{post.post.posted_time}}</div>
            <br>
            <div class="contentform" style="color:white;">

                <div style="width:100%; text-align:center;" >

                    <div style="display:inline-block;">

                        <div style="color: #fff; float:left; font-weight:500; font-size:22px; text-align:center;">
                            <div id="ricon-container-{{post.post.pk}}" class="ricon-container">
                                <img src="/static/reactions/emojis/like.svg" class="ricon" id="like-{{post.post.pk}}" style="display:{% if post.post.likes == '' or post.post.likes|to_int == 0 %}none;{% endif %}">
                                <img src="/static/reactions/emojis/love.svg" class="ricon" id="love-{{post.post.pk}}" style="display:{% if post.post.loves == '' or post.post.loves|to_int == 0 %}none;{% endif %}">
                                <img src="/static/reactions/emojis/haha.svg" class="ricon" id="haha-{{post.post.pk}}" style="display:{% if post.post.haha == '' or post.post.haha|to_int == 0 %}none;{% endif %}">
                                <img src="/static/reactions/emojis/wow.svg" class="ricon" id="wow-{{post.post.pk}}" style="display:{% if post.post.wow == '' or post.post.wow|to_int == 0 %}none;{% endif %}">
                                <img src="/static/reactions/emojis/sad.svg" class="ricon" id="sad-{{post.post.pk}}" style="display:{% if post.post.sad == '' or post.post.sad|to_int == 0 %}none;{% endif %}">
                                <img src="/static/reactions/emojis/angry.svg" class="ricon" id="angry-{{post.post.pk}}" style="display:{% if post.post.angry == '' or post.post.angry|to_int == 0 %}none;{% endif %}">
                            </div>
                            <label id="feelings-{{post.post.pk}}" style="margin-right:20px;display:{% if post.post.reactions == '' or post.post.reactions|to_int == 0 %}none;{% endif %}">{{post.post.reactions}}</label>
                            <span class="far fa-comment-alt"></span> {{post.post.comments}}
                        </div>

                    </div>

                </div>
            </div>

        </div>


        <div>
            <div>
                {% if post.pictures %}
                <div id="postform2">
                    {% for picture in post.pictures %}
                    <center>
                        <div style="position:relative; width:100%;" class="hyperlink">
                            <a href="{{picture.picture_url}}" target="_blank"><img src="{{picture.picture_url}}" class="post-photo"></a>
                            <a href="javascript:void(0)" onclick="confirmDeletion(this,'{{post.post.pk}}')" id="{{picture.id}}">
                                <div class="hint"><i class="fa fa-trash" aria-hidden="true"></i></div>
                            </a>
                        </div>
                    </center>
                    <br>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>

        <div id="postform">

            <div class="form-group" id="post_content_section">
                <div id="post_content" style="text-align:left; color:rgba(255,255,255,0.8); font-size:16px; word-wrap: break-word; white-space: pre-line;">{{post.post.content}}</div>

                {% for prev in post.prevs %}
                        <div class="form-group">
                            <div class="row" style="cursor:pointer;" onclick="window.open('{{prev.site_url}}');">
                                {% if prev.image_url %}
                                <div class="col-sm-4">
                                    <img src="{{prev.image_url}}" style="width:100%;height:130px;object-fit:cover;">
                                </div>
                                <div class="col-sm-8" style="text-align:left;">
                                    <label style="color:white;font-size:18px;" class="max-2lines">{{prev.title}}</label>
                                    {% if prev.description %}<div style="font-size:14px;color:rgba(255,255,255,0.8);" class="singleline">{{prev.description}}</div>{% endif %}
                                    <div style="display:flex;">
                                        {% if prev.icon_url %}<img src="{{prev.icon_url}}" style="width:15px;height:15px;margin-right:3px;">{% endif %}
                                        <div style="flex-grow:1;font-size:11px;color:rgba(255,255,0,0.6);" class="max-2lines">{{prev.site_url}}</div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-sm-12" style="text-align:left;">
                                    <label style="color:white;font-size:18px;" class="max-2lines">{{prev.title}}</label>
                                    {% if prev.description %}<div style="font-size:14px;color:rgba(255,255,255,0.8);" class="singleline">{{prev.description}}</div>{% endif %}
                                    <div style="display:flex;">
                                        {% if prev.icon_url %}<img src="{{prev.icon_url}}" style="width:15px;height:15px;margin-right:3px;">{% endif %}
                                        <div style="flex-grow:1;font-size:11px;color:rgba(255,255,0,0.6);" class="max-2lines">{{prev.site_url}}</div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                {% endfor %}

            </div>

            <script>
                document.getElementById('post_content').innerHTML = urlify(String(document.getElementById('post_content').innerHTML));
                function urlify(text) {
                    var urlRegex = /(https?:\/\/[^\s]+)/g;
                    return text.replace(urlRegex, function(url) {
                        return '<a href="' + url + '" style="color:yellow; word-break:break-all;">' + url + '</a>';
                    })
                }
            </script>

                <div id="post-edit-form">

                    <div style="margin:15px ">
                        <div style="color:white; font-size:18px; font-weight:500; font-family:verdana;">
                            Edit Post
                        </div>
                    </div>

                    <div text-align:center;">
                        <div style="display:inline-block; width:90%;">
                            <form action="/mothers/edit_post/" method="post" enctype="multipart/form-data" style="width:100%;">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="title" id="e-post-title" required value="{{post.post.title}}" placeholder="Enter a title">
                    			</div>
                                <input hidden name="post_id" value="{{post.post.pk}}">
                    			<div class="form-group">
                                    <select name="category" required id="category" style="color:black;">
                                        <option value="" style="color:gray;" disabled>Please choose a category-----</option>
                                        {% for c in categories %}
                                        <option value="{{c}}" {% if post.post.category == c %}selected{% endif %}>{{c}}</option>
                                        {% endfor %}
                                    </select>
                    			</div>

                    			<div class="form-group">
                                    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
                                    <textarea rows="8" name="content" required id="textarea" placeholder="Write something here..." onblur="checkLinks(this)">{{post.post.content}}</textarea>
                                    <script>autosize(document.getElementById("textarea"));</script>
                                </div>

                                <center>
                                    <div id="prev-progress" style="display:none;margin-bottom:20px;">
                                        <img src="/static/images/progressbar.gif" id="gif1"><span style="color:rgba(255,153,255,1.0);font-size:14px;">link preview loading...</span>
                                    </div>
                                </center>

                                <div id="post-link-frame" style="display:none;">
                                </div>

                                <div class="form-group" style="width:auto; margin-bottom:20px;">
        				            <center>
                                        <img style="width:auto; height:40px; margin-top:8px; display:none;" id="output">
                                    </center>
                                    <div id="image-panel" class="form-group" style="display:none;">
                                        <center>
                                            <div style="width:100%; text-align:center; max-height:80px;">
                                                <output id="divv" class="dragscroll" style="white-space: nowrap; overflow-y: hidden; overflow: auto; cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                                                </output>
                                            </div>
                                        </center>
        			                </div>
        				            <label id="file-btn"><i class="fa fa-paperclip"></i>
                                        <input type="file" name="pictures" style="display:none;" value="http://lorempixel.com/100/100/people/9" id="picture" accept="image/*" multiple/>
                                    </label>
                                    <button type="button" id="emoji-btn"><i class="fa fa-smile-o"></i></button>
                                    <div style="color:white; font-size:14px;">You can attach 1+ images by CTRL + selection.</div>
                                    <script>
                                        function readFile() {
                                            if (this.files) {
                                                var output = document.getElementById("divv");
                                                output.innerHTML = "";
                                                var files = this.files;  console.log(files.length);
                                                document.getElementById("image-panel").style.display = "block";
                                                for(var i = 0; i< files.length; i++)
                                                {
                                                    var file = files[i];
                                                    //Only pics
                                                    if(!file.type.match('image'))
                                                      continue;
                                                    var picReader = new FileReader();
                                                    picReader.addEventListener("load",function(event){
                                                        var picFile = event.target;

                                                        document.getElementById("output").src = event.target.result;

                                                        var div = document.createElement("div");
                                                        div.classList.add("slide");
                                                        div.innerHTML = "<img src='" + picFile.result + "'" +
                                                                "title='" + picFile.name + "'" + " style=" + "'width:auto; height:80px; float:left;'" + "/>";

                                                        div.addEventListener("click", function() {
                                                            document.getElementById("output").src =  picFile.result;
                                                        });
                                                        output.insertBefore(div,null);
                                                    });

                                                     //Read the image
                                                    picReader.readAsDataURL(file);
                                                }
                                            }
                                        }
                                        document.getElementById("picture").addEventListener("change", readFile);
                                    </script>
                                    <script src="/static/emoji1/fgEmojiPicker.js"></script>
                                    <script>
                                        const emojiPicker = new FgEmojiPicker({
                                            trigger: ['#emoji-btn'],
                                            position: ['top', 'right'],
                                            preFetch: true,
                                            insertInto: document.querySelector('textarea#textarea'),
                                            emit(obj, triggerElement) {
                                                // const emoji = obj.emoji;
                                            }
                                        });
                                    </script>
                                </div>

                                {% if post.post.sch_status != '' %}
                                <div class="form-group">
                                    <div style="color:white;font-size:16px;text-align:left;">Edit schedule </div>
                                    <div style="color:white;font-size:12px;text-align:left;margin-bottom:5px;">(If you set up a schedule, the post will be activated at that date time.)</div>
                                    <input type="datetime-local" id="sch_time" placeholder="Choose a date and time..." onchange="setSchedule(this)">
                                </div>
                                <div style="height:10px;"></div>
                                <input type="hidden" name="scheduled_time" id="scheduled_time" value="{{post.post.scheduled_time}}">

                                <script>
                                    var syear = document.getElementById("scheduled_time").value.split("-")[0];
                                    var smonth = document.getElementById("scheduled_time").value.split("-")[1];
                                    var sday = document.getElementById("scheduled_time").value.split("-")[2];
                                    var shour = document.getElementById("scheduled_time").value.split("-")[3];
                                    var sminute = document.getElementById("scheduled_time").value.split("-")[4];
                                    document.getElementById("sch_time").valueAsDate = new Date(parseInt(syear), parseInt(smonth) - 1, parseInt(sday), parseInt(shour), parseInt(sminute));
                                    function setSchedule(obj) {
                                        document.getElementById("scheduled_time").value = obj.value.replace("T","-").replace(":","-");
                                    }
                                </script>
                                {% else %}
                                <input type="hidden" name="scheduled_time" id="scheduled_time" value="{{post.post.scheduled_time}}">
                                {% endif %}

                                <div class="form-group">
                        			<center>
                                        <button type="submit" class="bouton-update">SUBMIT</button>
                                    </center>
                                </div>
                                <br>
                            </form>
            			</div>
                    </div>

                </div>

                <div style="width:100%; margin-bottom:15px;">
                    <div class="comment-title">
                        Comments
                    </div>
                </div>

                {% if post.comments %}

                    <div class="comment-container">
                        {% for comment in post.comments %}
                        <div class="user-form">
                            <div class="contentform">
                                <div style="display:flex;">
                                    <div>
                                        <img src="{% if comment.member.photo_url %}{{comment.member.photo_url}}{% elif comment.member.cohort == 'admin' %}/static/images/manager.jpg{% else %}/static/images/ic_profile.png{% endif %}"
                                            class="comment-user-picture">
                                    </div>
                                    <div style="flex-grow:1;">
                                        <div class="row comment-member-section">
                                            <div class="col-sm-5">
                                                <div class="comment-user-name">{{comment.member.name}}</div>
                                                <div class="comment-user-cohort">{% if comment.member.photo_url %}{{comment.member.cohort}}{% else %}Manager{% endif %}</div>
                                            </div>
                                            <div class="col-sm-5 ctime">{{comment.comment.commented_time}}</div>
                                        </div>
                                    </div>
                                    <div>
                                        {% if comment.member.pk == me.pk %}
                                            <a href="javascript:void(0)" id="del-{{comment.comment.pk}}" onclick="showDeleteCommentAlert(this)">
                                                <span class="fa fa-trash combtn"></span>
                                            </a>
                                        {% else %}
                                            <a href="/mothers/to_private_chat?member_id={{comment.member.pk}}" target="_blank">
                                                <span class="fa fa-comments combtn"></span>
                                            </a>
                                        {% endif %}

                                    </div>

                                </div>

                                <div class="divider"></div>

                                <div style="text-align:left;">
                                    <div id="note" class="note">{{comment.comment.comment_text}}</div>
                                    {% if comment.comment.image_url %}
                                    <a href="{{comment.comment.image_url}}" target="_blank" style="margin-left:15px;margin-bottom:15px;">
                                        <img src="{{comment.comment.image_url}}" class="comment-attached">
                                    </a><br><br>
                                    {% endif %}
                                </div>

                                <div class="comment-footer" id="item-footer-{{comment.comment.pk}}">
                                    <div class="comment-actions">
                                        <a class="COMMENT_reactions" data-reactions-type="horizontal" data-unique-id="{{comment.comment.pk}}" data-emoji-class="{{comment.comment.liked}}" style="margin-top:-10px;margin-right:15px;">
                                            <span id="clbl-{{comment.comment.pk}}">{% if comment.comment.liked %}{{comment.comment.liked}}{% else %}Like{% endif %}</span>
                                        </a>
                                        <div id="ricon-container-{{comment.comment.pk}}" class="ricon-container">
                                            <img src="/static/reactions/emojis/like.svg" class="ricon" id="like-{{comment.comment.pk}}" style="display:{% if comment.comment.likes == '' or comment.comment.likes|to_int == 0 %}none;{% endif %}">
                                            <img src="/static/reactions/emojis/love.svg" class="ricon" id="love-{{comment.comment.pk}}" style="display:{% if comment.comment.loves == '' or comment.comment.loves|to_int == 0 %}none;{% endif %}">
                                            <img src="/static/reactions/emojis/haha.svg" class="ricon" id="haha-{{comment.comment.pk}}" style="display:{% if comment.comment.haha == '' or comment.comment.haha|to_int == 0 %}none;{% endif %}">
                                            <img src="/static/reactions/emojis/wow.svg" class="ricon" id="wow-{{comment.comment.pk}}" style="display:{% if comment.comment.wow == '' or comment.comment.wow|to_int == 0 %}none;{% endif %}">
                                            <img src="/static/reactions/emojis/sad.svg" class="ricon" id="sad-{{comment.comment.pk}}" style="display:{% if comment.comment.sad == '' or comment.comment.sad|to_int == 0 %}none;{% endif %}">
                                            <img src="/static/reactions/emojis/angry.svg" class="ricon" id="angry-{{comment.comment.pk}}" style="display:{% if comment.comment.angry == '' or comment.comment.angry|to_int == 0 %}none;{% endif %}">
                                        </div>
                                        <label id="feelings-{{comment.comment.pk}}" style="display:{% if comment.comment.reactions == '' or comment.comment.reactions|to_int == 0 %}none;{% endif %}">{{comment.comment.reactions}}</label>
                                        <span class="far fa-comment-alt" data-toggle="tooltip" data-placement="top" title="{% if comment.comment.comments != '0' %}View comments{% else %}No comments{% endif %}"
                                            id="comment-list-btn-{{comment.comment.pk}}" style="margin-top:2px;" onclick="refreshCommentForComment(this)"></span>
                                        <label class="item-comments" style="margin-left:3px;">{{comment.comment.comments}}</label>
                                        <span class="fa fa-pencil" id="{{comment.comment.pk}}" style="margin-top:2px;" onclick="openCommentInputSection(this)" data-toggle="tooltip" data-placement="top" title="Add your comment"></span>
                                    </div>
                                    <div class="sub-comments"></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                {%else %}

                    <div style="width:100%; text-align:center;">
                        <h5 style="color:rgba(255,255,255,0.7); margin:30px;">No comment added ...</h5>
                    </div>

                {% endif %}

            </div>

        </div>
    </div>

</div>


<div id="commentAlert">
    <div id="comment-form">
        <div class="comment-header-section">
            <div class="comment-header">ADD COMMENT</div>
        </div>

        <div style="text-align:center;">
            <div style="display:inline-block; width:90%;">
                <div class="old-comment-section">
                    <div style="display:flex;">
                        <div>
                            <img id="selcomuserpic">
                        </div>
                        <div style="flex-grow:1;">
                            <div class="row comment-member-section">
                                <div class="col-sm-12">
                                    <div id="selcomusername"></div>
                                    <div id="selcomusercohort"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div id="selcomusertext"></div>
                </div>
                <form action="/mothers/sendcomment/" method="post" enctype="multipart/form-data" id="commentForm" style="width:100%;">
                    {% csrf_token %}
        			<div class="form-group">
        			    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                                crossorigin="anonymous">
                        </script>
                        <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
                        <textarea rows="8" name="content" required id="textarea1" data-emoji-picker="true" placeholder="Write something here..." data-emojiable="true"></textarea>
                        <script>autosize(document.getElementById("textarea"));</script>
                    </div>

                    <input hidden name="post_id" value="{{post.post.pk}}">
                    <input hidden name="comment_id" id="comment_id" value="0">

                    <div class="form-group alert-footer">
                        <button type="button" id="cancel-comment-btn">Cancel</button>
                        <div style="flex-grow:1;"></div>
                        <div id="comment-image-container">
                            <img id="output1">
                            <i class="fa fa-times-circle" id="close-btn"></i>
                        </div>
                        <label id="file-btn-1"><i class="fa fa-paperclip"></i>
                            <input type="file" name="image" style="display:none;" id="file1" accept="image/*"/>
                        </label>
                        <!--<button type="button" id="emoji-btn-1"><i class="fa fa-smile-o"></i></button>-->
                        <img src="/static/images/progressbar.gif" class="progressbar">
                        <button type="button" id="send-btn-1">Submit</button>

                        <script>
                            function readFile1() {
                                if (this.files) {
                                    var file = this.files[0];
                                    var picReader = new FileReader();
                                    picReader.addEventListener("load",function(event){
                                        document.getElementById("output1").src = event.target.result;
                                        document.getElementById("comment-image-container").style.display = "block";
                                    });

                                    //Read the image
                                    picReader.readAsDataURL(file);
                                }
                            }
                            document.getElementById("file1").addEventListener("change", readFile1);
                            document.getElementById("close-btn").addEventListener("click", function(){
                                document.getElementById("comment-image-container").style.display = "none";
                                document.getElementById("file1").value = "";
                            });
                            document.getElementById("cancel-comment-btn").addEventListener("click", function(){ document.getElementById("commentAlert").style.display = "none"; });
                        </script>

                        <script>
                            // new FgEmojiPicker({
                            //     trigger: ['#emoji-btn-1'],
                            //     position: ['top', 'right'],
                            //     preFetch: true,
                            //     insertInto: document.querySelector('textarea#textarea1'),
                            //     emit(obj, triggerElement) {
                            //         // const emoji = obj.emoji;
                            //     }
                            // });
                        </script>

                    </div>
                </form>
			</div>
        </div>

    </div>

</div>


<input type="hidden" id="me_email" value="{{me.email}}">


<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="glyphicon glyphicon-menu-up" style="color:white; font-size:14px;"></i></button>

<div style="display:inline-block; height:0px; width:auto; position:fixed; z-index:100; bottom:50px; border-radius:30px; left:1%;">
    <div id="google_translate_element" style="float:left;"></div>
</div>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
 //   alert("Hello");
    if (document.body.scrollTop > 120 || document.documentElement.scrollTop > 120) {
        document.getElementById("myBtn").style.display = "block";                         // Top button display none;
        document.getElementById("title").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
        document.getElementById("title").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    document.getElementById("member-list").scrollTop = 0;
}

$(document).ready(function() {
   $(document).ready(function() {
        $('.commentform #note').each(function(i) {
            const response = this.innerHTML
            const decoded = response
              .replace(/\\u(....)/g, (match, p1) => String.fromCharCode(parseInt(p1, 16)))
              .replace(/\\(\d{3})/g, (match, p1) => String.fromCharCode(parseInt(p1,  8)))
            this.innerHTML = decoded;
        });
   });
});


function confirmDeletion(obj,postid) {
    var msg = "Are you sure you want to delete this picture？";
    swal({
        title: "Warning！",
        text: msg,
        icon: "warning",
        buttons: ["Cancel","Yes"],
        dangerMode: true,
    })
    .then((ok) => {
        if (ok) {
            window.location.href = "/mothers/postdelpicture?picture_id=" + obj.id + "&post_id=" + postid;
        }
    });
}

</script>

<script>

// ScrollTo({{member_id}});

function ScrollTo(name) {
  //init thread
  ScrollToResolver(document.getElementById(name));
}

function ScrollToResolver(elem) {
  elem.style.backgroundColor = "#ffccff";
  var jump = parseInt(elem.getBoundingClientRect().top * .2);
  document.body.scrollTop += jump - 50;
  document.documentElement.scrollTop += jump - 50;
  //lastjump detects anchor unreachable, also manual scrolling to cancel animation if scroll > jump
  if (!elem.lastjump || elem.lastjump > Math.abs(jump)) {
    elem.lastjump = Math.abs(jump);
    setTimeout(function() {
      ScrollToResolver(elem);
    }, "100");
  } else {
    elem.lastjump = null;
  }
}

</script>


<script>
    var post_text = document.getElementById("post_content");
    const response = post_text.innerHTML
    const decoded = response
        .replace(/\\u(....)/g, (match, p1) => String.fromCharCode(parseInt(p1, 16)))
        .replace(/\\(\d{3})/g, (match, p1) => String.fromCharCode(parseInt(p1,  8)))
    post_text.innerHTML = decoded;
    var textbox = document.getElementById("textarea");
    const response1 = textbox.value
    const decoded1 = response1
        .replace(/\\u(....)/g, (match, p1) => String.fromCharCode(parseInt(p1, 16)))
        .replace(/\\(\d{3})/g, (match, p1) => String.fromCharCode(parseInt(p1,  8)))
    textbox.value = decoded1;
    var post_title = document.getElementById("post-title");
    const response2 = post_title.innerHTML
    const decoded2 = response2
        .replace(/\\u(....)/g, (match, p1) => String.fromCharCode(parseInt(p1, 16)))
        .replace(/\\(\d{3})/g, (match, p1) => String.fromCharCode(parseInt(p1,  8)))
    post_title.innerHTML = decoded2;

    var e_post_title = document.getElementById("e-post-title");
    const response3 = e_post_title.value
    const decoded3 = response3
        .replace(/\\u(....)/g, (match, p1) => String.fromCharCode(parseInt(p1, 16)))
        .replace(/\\(\d{3})/g, (match, p1) => String.fromCharCode(parseInt(p1,  8)))
    e_post_title.value = decoded3;

</script>

<script>

function checkLinks(obj){
    var progressbar = document.getElementById("prev-progress");
    var container = document.getElementById("post-link-frame");
    container.innerHTML = "";
    if(obj.value.length == 0 || !obj.value.includes("http")) {
        container.style.display = "none";
        return;
    }
    progressbar.style.display = "block";
    var formdata = new FormData();
    formdata.append("content", obj.value);
    var xhr = new XMLHttpRequest(formdata);
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var data = xhr.responseText;
            console.log('LINK RESP: ' + data);
            let jsonData = JSON.parse(data);
            if(jsonData['result'] == 'success') {
                data = jsonData['data'];
                for(var i=0; i<data.length; i++){
                    let title = data[i].title;
                    let description = data[i].description;
                    let image_url = data[i].image_url;
                    let icon_url = data[i].icon_url;
                    let site_url = data[i].site_url;

                    if(container.style.display == "none") container.style.display = "block";
                    var formgroupbox = document.createElement("div");
                    formgroupbox.classList.add("form-group");
                    var row = document.createElement("div");
                    row.style.display = "flex";
                    row.style.cursor = "pointer";
                    row.addEventListener('click', function(e) {
                        window.open(site_url);
                    });
                    formgroupbox.append(row);
                    if(image_url.length > 0){
                        var imageframe = document.createElement("div");
                        var imagebox = document.createElement("img");
                        imagebox.classList.add("new-post-link-image");
                        imagebox.src = image_url;
                        imageframe.append(imagebox);
                        row.append(imageframe);

                        var bodybox = document.createElement("div");
                        bodybox.style.flexGrow = "1";
                        bodybox.style.paddingLeft = "5px";
                        bodybox.style.textAlign = "left";

                        var titlebox = document.createElement("label");
                        titlebox.style.color = "white";
                        titlebox.style.fontSize = "16px";
                        titlebox.classList.add("max-2lines");
                        titlebox.innerHTML = title;
                        bodybox.append(titlebox);

                        if(description.length > 0) {
                            var descbox = document.createElement("div");
                            descbox.classList.add("singleline");
                            descbox.style.fontSize = "14px";
                            descbox.style.color = "rgba(255,255,255,0.8)";
                            descbox.innerHTML = description;
                            bodybox.append(descbox);
                        }

                        var linkframe = document.createElement("div");
                        linkframe.style.display = "flex";
                        if(icon_url.length > 0) {
                            var iconbox = document.createElement("img");
                            iconbox.classList.add("icon-frame");
                            iconbox.src = icon_url;
                            linkframe.append(iconbox);
                        }
                        var linkbox = document.createElement("div");
                        linkbox.classList.add("icon-site-link");
                        linkbox.classList.add("singleline");
                        linkbox.innerHTML = site_url;
                        linkframe.append(linkbox);
                        bodybox.append(linkframe);
                        row.append(bodybox);
                    }else {
                        var bodybox = document.createElement("div");
                        // bodybox.classList.add("col-sm-12");
                        bodybox.style.textAlign = "left";

                        var titlebox = document.createElement("label");
                        titlebox.style.color = "white";
                        titlebox.style.fontSize = "16px";
                        titlebox.classList.add("max-2lines");
                        titlebox.innerHTML = title;
                        bodybox.append(titlebox);

                        if(description.length > 0) {
                            let descbox = document.createElement("div");
                            descbox.classList.add("singleline");
                            descbox.style.fontSize = "14px";
                            descbox.style.color = "rgba(255,255,255,0.8)";
                            descbox.innerHTML = description;
                            bodybox.append(descbox);
                        }

                        var linkframe = document.createElement("div");
                        linkframe.style.display = "flex";
                        if(icon_url.length > 0) {
                            var iconbox = document.createElement("img");
                            iconbox.classList.add("icon-frame");
                            iconbox.src = icon_url;
                            linkframe.append(iconbox);
                        }
                        var linkbox = document.createElement("div");
                        linkbox.classList.add("icon-site-link");
                        linkbox.classList.add("singleline");
                        linkbox.innerHTML = site_url;
                        linkframe.append(linkbox);
                        bodybox.append(linkframe);
                        row.append(bodybox);
                    }
                    container.append(formgroupbox);
                }
            }
            progressbar.style.display = "none";
        }
    };
    xhr.open('POST', '/mothers/bbbbb', true);
    xhr.send(formdata);

}

</script>


<script>

function collectionHas(a, b) { //helper function (see below)
    for(var i = 0, len = a.length; i < len; i ++) {
        if(a[i] == b) return true;
    }
    return false;
}

function findParentBySelector(elm, selector) {
    var all = document.querySelectorAll(selector);
    var cur = elm.parentNode;
    while(cur && !collectionHas(all, cur)) { //keep going up until you find a match
        cur = cur.parentNode; //go up
    }
    return cur; //will return null if not found
}


function updateCommentReaction(commentid, feeling) {
    console.log("comment /// " + commentid + " /// " + feeling)
    if(feeling == null) feeling = "";
    var formData = new FormData();
    formData.append("comment_id", commentid);
    formData.append("feeling", feeling);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            let response = xhr.response;
            // console.log(response)
            if(response != "error") {
                let resp = xhr.responseText;
                // console.log(resp)
                let data = JSON.parse(resp);
                let comment = data["comment"];
                let allfeelings = comment["reactions"];  if(allfeelings.length == 0) allfeelings = "0";
                document.getElementById("feelings-" + commentid).innerHTML = allfeelings;
                if(parseInt(allfeelings) == 0) document.getElementById("feelings-" + commentid).style.display = "none";
                else document.getElementById("feelings-" + commentid).style.display = "block";
                if(feeling.length == 0) document.getElementById("clbl-" + commentid).innerHTML = "Like";
                let likes = comment["likes"]; if(likes.length == 0) likes = "0";
                let loves = comment["loves"]; if(loves.length == 0) loves = "0";
                let haha = comment["haha"]; if(haha.length == 0) haha = "0";
                let wow = comment["wow"]; if(wow.length == 0) wow = "0";
                let sad = comment["sad"]; if(sad.length == 0) sad = "0";
                let angry = comment["angry"]; if(angry.length == 0) angry = "0";
                if(parseInt(likes) == 0) document.getElementById("like-" + commentid).style.display = "none";
                else document.getElementById("like-" + commentid).style.display = "block";
                if(parseInt(loves) == 0) document.getElementById("love-" + commentid).style.display = "none";
                else document.getElementById("love-" + commentid).style.display = "block";
                if(parseInt(haha) == 0) document.getElementById("haha-" + commentid).style.display = "none";
                else document.getElementById("haha-" + commentid).style.display = "block";
                if(parseInt(wow) == 0) document.getElementById("wow-" + commentid).style.display = "none";
                else document.getElementById("wow-" + commentid).style.display = "block";
                if(parseInt(sad) == 0) document.getElementById("sad-" + commentid).style.display = "none";
                else document.getElementById("sad-" + commentid).style.display = "block";
                if(parseInt(angry) == 0) document.getElementById("angry-" + commentid).style.display = "none";
                else document.getElementById("angry-" + commentid).style.display = "block";
            }
        }
    };
    xhr.open('POST', "/mothers/react_comment", true);
    xhr.send(formData);
}


var selectedObj = null;
var selectedCommentId = 0;

function openCommentInputSection(obj) {
    selectedObj = obj;
    let commentid = obj.id;
    selectedCommentId = commentid;
    document.getElementById("comment_id").value = commentid;
    if(parseInt(commentid) > 0) {
        let selector = ".user-form";
        let parent = findParentBySelector(obj, selector);
        document.getElementById("selcomuserpic").src = parent.querySelector(".comment-user-picture").src;
        document.getElementById("selcomusername").innerHTML = parent.querySelector(".comment-user-name").innerHTML;
        document.getElementById("selcomusercohort").innerHTML = parent.querySelector(".comment-user-cohort").innerHTML;
        document.getElementById("selcomusertext").innerHTML = parent.querySelector(".note").innerHTML;
        document.getElementsByClassName("old-comment-section")[0].style.display = "block";
    }else {
        document.getElementsByClassName("old-comment-section")[0].style.display = "none";
    }
    document.getElementById("commentAlert").style.display = "block";
    refreshCommentForComment(selectedObj);

}


document.getElementById("send-btn-1").addEventListener('click', function() {
    if(document.getElementById('textarea').value.length == 0){
        showAlertWarning('Please write your comment.');
        return;
    }
    let form = document.getElementById("commentForm");
    let progressbar = form.querySelector(".progressbar");
    progressbar.style.display = "block";
    var formData = new FormData(form);
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            progressbar.style.display = "none";
            var result = xhr.response;
            console.log('Comment Response: ' + result);
            if(result == 'success') {
                if(selectedObj != null) refreshCommentForComment(selectedObj);
            }else {
                showAlertError('Your comment failed.');
            }
            document.getElementById("commentAlert").style.display = "none";
        }
    };
    xhr.open('POST', form.getAttribute('action'), true);
    xhr.send(formData);
});


function refreshCommentForComment(obj) {
    if(obj.id.includes("comment-list-btn-")) {
        selectedCommentId = obj.id.replace("comment-list-btn-", "");
        selectedObj = obj;
    }
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            // console.log('Result: ' + xhr.responseText)
            let resp = xhr.responseText;
            let data = JSON.parse(resp);
            let result = data["result"];
            if (result == "success") {
                let html = data["html"];
                let item_count = data["item_count"];
                if(selectedCommentId <= 0) {
                    document.querySelector(".comment-container").innerHTML = html;
                    document.getElementById("comments").innerHTML = item_count;
                } else {
                    let selector = ".user-form";
                    let parent = findParentBySelector(selectedObj, selector);
                    parent.querySelector(".sub-comments").innerHTML = html;
                    parent.querySelector(".item-comments").innerHTML = item_count;
                    parent.querySelector("span[id*='comment-list-btn-']").title = parseInt(item_count) > 0 ? "View comments" : "No comments";
                }

                var y = document.getElementsByClassName("note");
                var i;
                for (i = 0; i < y.length; i++) {
                    y[i].innerHTML = urlify(y[i].innerHTML);
                    y[i].style.color = "white";
                    y[i].style.textAlign = "left";
                }
                $('.user-form .note').each(function(i) {
                    const response = this.innerHTML
                    const decoded = response
                        .replace(/\\u(....)/g, (match, p1) => String.fromCharCode(parseInt(p1, 16)))
                        .replace(/\\(\d{3})/g, (match, p1) => String.fromCharCode(parseInt(p1,  8)))
                    this.innerHTML = decoded;
                });
                $('.COMMENT_reactions').commentReactions({
            		type: "comment"
            	});
            }
        }
    };
    xhr.open('GET', '/mothers/subcomments?post_id={{post.post.pk}}&comment_id=' + String(selectedCommentId), true);
    xhr.send('');
}

function showAlertWarning(msg) {
    swal({
        title: "Oops！ We ran into an issue.",
        text: msg,
        icon: "warning",
        button: "OK",
        dangerMode: true,
    });
}

function showAlertError(msg) {
    swal({
        title: "Error！",
        text: msg,
        icon: "error",
        button: "OK",
    });
}



function showDeleteCommentAlert(obj) {
    swal({
        title: "Warning!",
        text: "Are you sure delete this comment?",
        icon: "warning",
        buttons: ["Cancel","Yes"],
        dangerMode: true,
    })
    .then((ok) => {
        if (ok) {
            let comment_id = obj.id.replace("del-","");
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    let result = xhr.response;
                    if (result == "success") {
                        var selector = ".sub-comments";
                        var parent = findParentBySelector(obj, selector);
                        if(parent == null) {
                            selector = ".comment-container";
                            parent = findParentBySelector(obj, selector);
                            selectedCommentId = 0;
                            selectedObj = parent;
                        }else {
                            selectedCommentId = parseInt(parent.querySelector(".comment-footer").id.replace("item-footer-",""));
                            selectedObj = parent;
                        }
                        refreshCommentForComment(selectedObj);
                    }
                }
            };
            xhr.open('GET', '/mothers/commentdelete?comment_id=' + comment_id, true);
            xhr.send('');
        }
    });
}


</script>

<script src="/static/emoji1/emojiPicker.js"></script>
<script>
    (() => {
      new EmojiPicker()
    })()
</script>


</body>

</html>




























































